#example-NUM {}

.example-contents {
	margin: 1em 2em;
}

.example-contents ul {
	list-style: none;
}

.example-glossing-set {
	padding: 0;
}

.example-glossing-unit {
	float: left;
	padding: 0 0.4em;
	margin: 0.4em 0;
	border-right: 1px dotted darkgray;
}
.example-glossing-unit:last-child {
	border: none;
}

.example-jbo {
	font-weight: bold;
}

.example-gloss {
	font-style: italic;
	margin: auto;
}

.example-translation {
	clear: both;
}
