doctype html
html( lang="en-us" )
    head
        meta( charset="utf-8" )
        meta( name="viewport" content="width=device-width, height=device-height, initial-scale=1" )
        title Passphrase generator
        meta( name="author" content="Andrew Toskin" )
        meta( name="description" content="Generate cryptographically strong pseudorandom passphrases in your web browser." )
        link( type="text/css" rel="stylesheet" href="/styles/andrew-toskin-blogfolio.css" )
        style
            :stylus
                #app
                    margin     : 4em auto
                    text-align : center
                input[type="number"]
                    margin-left : 0.5em
                #generate
                    font-size : 1.2rem
                .passphrase-dummy-text
                    color      : gray
                    font-size  : 1.2rem
                    font-style : italic
                .generated-passphrase
                    color       : black
                    font-size   : 1.2rem
                    font-family : monospace

    body
        h1 Passphrase generator

        p by #[a( href="/" rel="author home me" ) Andrew Toskin]

        main#app
            form#settings
                label
                    p Phrase length:
                    input( id="phrase-length" type="number" min="4" step="1" value="6" )

            p: button#generate( type="button" ) Generate passphrase now!

            p#passphrase.passphrase-dummy-text Generated passphrase will appear here…

        aside
            p.
                Passwords, obviously, are all about being hard to guess.
                This basically means randomness, as any memorable but
                “secret” references might think of can often be scraped
                from various sources around the Web — the name of your
                dog, your favorite food, quotes from a movie you like —
                these are all easy for a program to guess, given enough
                time; the only way out of this problem is to be
                #[em random]. And if I must memorize some arbitrary
                text, I think it’s easeir to remember a few random words
                than it is to remember a long sequence of random
                characters. I find random words easier to read, dictate,
                and type, too.

            p.
                So, you want a #[em passphrase] rather than a password. This
                generator uses a large word list, with words from multiple
                languages, and the random selection is based on your
                browser’s
                #[a( href="https://developer.mozilla.org/en-US/docs/Web/API/Crypto/getRandomValues" rel="cite" ) cryptographic random number generator],
                so the resulting passphrases should be pretty strong.

        script( src="./passphrase-generator-word-list-english.js" )
        script.
            "use strict";
            function generatePhrase() {
                // Our passphrase will be generated as a list of words, which will add here.
                let passphrase = [];
                // Separator to appear between words in the final rendered passphrase.
                // TODO: User should be able to customize this.
                let wordSeparator = " ";

                // Random number generation.
                // The phrase length defaults to 6 words, depending on
                // the settings, but user may set the phrase length they
                // want.
                let phraseLength = Number.parseInt( document.getElementById( "phrase-length" ).value, 10 );
                let randomNumberList = new Uint32Array( phraseLength );
                crypto.getRandomValues( randomNumberList );

                // The generated passphrase will appear here.
                let passphraseParagraph = document.getElementById( "passphrase" );

                // Randomly select the words.
                for ( let i = 0; i < phraseLength; i++ ) {
                    let j = randomNumberList[ i ] % englishWordList.length;
                    passphrase.push( englishWordList[ j ]);
                }

                // Print generated passphrase, and change its display style.
                passphraseParagraph.textContent = passphrase.join( wordSeparator );
                passphraseParagraph.className = "generated-passphrase";
            }

            let generatorButton = document.getElementById( "generate" );
            generatorButton.addEventListener( "click", generatePhrase );
